.dropdown {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  cursor: default;
}

.dropdown-scrollable {
  max-height: 500px; /* 你希望的最大高度 */
  overflow-y: auto; /* 設置y軸為自動滾動 */
}

.read-all {
  display: inline-block;
  cursor: pointer;
}

.readNotification {
  background-color: #fff;
}

.unreadNotification {
  background-color: #d8d8d8;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.content {
  font-size: 14px;
}

.time {
  font-size: 12px;
  color: #888;
}
